/* Card.css */
.body{
    padding: 0%;
    
}
.app{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  

}
.card {
   
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin: 10px;
    color: black;
    width: 300px;
    height: 250px;
    
  }
  